
.nij{
    background: linear-gradient(90deg,orange,white,green);
}
.wrapper
{
    max-width: 600px;
    width: 100%;
    background: #fff;
    margin:  auto;

    padding: 50px;
    
    box-shadow: 2px 2px 2px rgba(0,0,0,0.125);
}



.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #4CAF50;
    text-decoration: underline;
    text-transform:uppercase;
    text-align: center;
}

.wrapper .form{
    width: 100%;

}

.wrapper .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    
}
.wrapper .form .input_field label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
   font-size: 14px;
   
}

.wrapper .form .input_field .input,
.wrapper .form .input_field .textarea
{
    width: 100%;
    outline:none;
    border: 1px solid #d5d5d9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;

}

.wrapper .form .input_field .textarea{
    resize: none;
    height: 125px;

}

.wrapper .form .input_field .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form .input_field .custom_select select{
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #d5d5d9;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline:none;
}

.wrapper .form .input_field .custom_select select ::before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color:black transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .input_field .input:focus,
.wrapper .form .input_field .textarea:focus,
.wrapper .form .input_field select:focus
{
    border: 1px solid #4CAF50;
}

.wrapper .form .input_field p{
    font-size: 14px;
    color: #757575;
}

.wrapper .form .input_field .check{
       width: 15px;
        height: 15px;
        position: relative;
        display: block;
        cursor: pointer;

}
.wrapper .form .input_field .check input[type="checkbox"]{

position: absolute;
top: 0;
left: 0;
opacity: 0;
}

.wrapper .form .input_field .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #4CAF50;
    display: block;
    position: relative;
    
}


.wrapper .form .input_field .check .checkmark::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 2px;
    border: 2px solid;

    border-color:transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}
.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmark{

background: #4CAF50;
}

.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmark::before{

    display: block;
    }



    .wrapper .form .input_field .btn{
        width: 100%;
        padding:8px 10px;
        font-size: 15px;
        border: 0;
        background: #4CAF50;
        color: #fff;
        cursor: pointer;
        border-radius: 3px;
        outline: none;

    }

    
.wrapper .form .input_field:last-child{
    margin-bottom: 0;
}

    
.wrapper .form .input_field .btn:hover{
    background: orangered;
    
}

@media (max-width:420px)
{
    .wrapper .form .input_field{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .input_field label{
        margin-bottom: 5px;
    }
    .wrapper .form .input_field.terms{
        flex-direction: row;
    }


}



footer{
    background-color:  #333;
    font-size: 1.5em;
    color: #4CAF50;
    text-align: center;
    padding: 20px;
}
.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-caret-down{
    display: none;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}














